/* Scan controls */

span.av-scan-complete {
	background: #fff;
	border: 1px solid #007017;
	border-radius: 3px;
	color: #008a20;
	display: inline-block;
	line-height: 2;
	margin: 0 10px;
	padding: 0 0.5em;
}

#av-scan-process .spinner {
	float: none;
}


/* Scan results table. */

table.av-scan-results .av-toggle-column {
	width: 2.2em;
}

table.av-scan-results .av-file-column > p a.button {
	float: right;
}

table.av-scan-results .av-status-column {
	text-align: center;
	width: 7em;
}

table.av-scan-results .av-file-column > p {
	line-height: 2;
	padding: 0.5em;
}

table.av-scan-results .av-file-column > p a {
	margin: 0 0.5em 0.5em 0.5em;
}

table.av-scan-results .av-file-column > p code {
	background-color: #f0f0f1;
	border: 1px solid #a7aaad;
	padding: 0.5em;
}

table.av-scan-results .av-file-column > p code span {
	padding: 0.2em;
	background: #f2d675;
}

table.av-scan-results td {
	color: #3c434a;
}

table.av-scan-results tr.av-status-pending .av-status-column {
	font-style: italic;
}

table.av-scan-results tr.av-status-ok {
	background-color: #edfaef;
}

table.av-scan-results tr.av-status-ok td:first-of-type {
	border-left: 4px solid #007017;
}

table.av-scan-results tr.av-status-ok .av-status-column {
	color: #005c12;
	font-weight: 700;
}

table.av-scan-results tr.av-status-warning {
	background-color: #fcf0f1;
}

table.av-scan-results tr.av-status-warning td:first-of-type {
	border-left: 4px solid #b32d2e;
}

table.av-scan-results tr.av-status-warning td.av-status-column {
	color: #8a2424;
	font-weight: 700;
}
