<phpunit bootstrap="tests/bootstrap.php"
		 backupGlobals="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="true">
	<testsuites>
		<testsuite name="AntiVirus TestSuite">
			<directory prefix="test-" suffix=".php">tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<file>./antivirus.php</file>
			<directory suffix=".php">./inc/</directory>
		</whitelist>
	</filter>
</phpunit>
